body{
    background-color: rgb(82, 226, 197);
}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
section{
    margin: 30px;
    
}
fieldset{
    font-size: 20px;
    border: 2px solid rgb(5, 54, 93);
    color:rgb(8, 75, 75)
}


/* You can add global styles to this file, and also import other style files */
